<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Your ascified word</title>
	<link rel="stylesheet" href="">
</head>
<body>
<h1>Your ASCIFIED word is:</h1>
<pre><%= @word %></pre>
	
</body>
</html>